* {
  box-sizing: border-box;
  overflow: hidden;
}

body {
  height: 100vh;
  width: 100%;
  background-color: rgba(222, 184, 135, 0.25);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 3rem;
  background-color: burlywood;
}

nav > section:last-child {
  display: flex;
  gap: 1rem;
}

.home {
  display: flex;
  flex-direction: column;
}

.signUp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.signUp form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.signUp form > div {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.signUp input {
  min-width: 15rem;
}

.signUp form button {
  align-self: center;
  cursor: pointer;
  margin-top: 1rem;
  padding: 0.3rem 0.7rem;
  border-radius: 0.5rem;
  transition: all 0.2s ease-in-out;
}

a {
  text-decoration: none;
  color: black;
}
