<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>Home</title>
  </head>
  <body>
    <nav>
      <section>
        <span>FileUploader</span>
      </section>
      <section>
        <a href="/">Home</a>
        <a href="/log-in">Log In</a>
        <a href="/sign-up">Sign Up</a>
      </section>
    </nav>
    <main>
      <% if (locals.user) { %>
      <h1>You can start uploading files.</h1>
      <form action="/upload" method="POST">
        <label for="upload">Upload Files</label>
        <input type="file" name="upload" id="upload" />
        <button>Upload</button>
      </form>
      <% } else { %>
      <h1>Welcome to FileUploader</h1>
      <% } %>
    </main>
  </body>
</html>
